<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441593559436-4tdluf2tvdbvv0eijr09vndohoupsfti.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441593559436-4tdluf2tvdbvv0eijr09vndohoupsfti</string>
	<key>API_KEY</key>
	<string>AIzaSyDxWk0FIVadcz4rH9MdaNxm6ef17NhAi8g</string>
	<key>GCM_SENDER_ID</key>
	<string>441593559436</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pow-wow.Pow-Wow</string>
	<key>PROJECT_ID</key>
	<string>pow-wow-consulting</string>
	<key>STORAGE_BUCKET</key>
	<string>pow-wow-consulting.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441593559436:ios:952eaeb42353e6f279fea9</string>
	<key>DATABASE_URL</key>
	<string>https://pow-wow-consulting-default-rtdb.firebaseio.com</string>
</dict>
</plist>